body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

img {
    width: 100%;
    height: auto;
}

/* AreaScreen ーーーーーーーーーーーーーーーー*/
.area-screen {
  text-align: center;
}

.area-screen h2 {
  margin-bottom: 1em;
}

.area-screen .commands button {
  margin: 0 0.5em;
}

.area-screen .message {
  margin-top: 1em;
}

/* ChoiceScreen ーーーーーーーーーーーーーーーー*/
.choice-screen {
  text-align: center;
}

.choice-screen h2 {
  margin-bottom: 1em;
}

.choice-screen button {
  margin: 0.5em;
}

/* MapScreen ーーーーーーーーーーーーーーーー*/
.map-screen {
  text-align: center;
}

.map-screen h2 {
  margin-bottom: 1em;
}

.map-screen button {
  margin: 0.5em;
}

.map-screen .choice-button {
  margin-top: 2em;
}

/*ResultScreen ーーーーーーーーーーーーーーーー*/
.result-screen {
  text-align: center;
}

.result-screen h2 {
  margin-bottom: 1em;
}

.result-message {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.restart-button {
  margin-top: 2em;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #ff7f7f;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/*TitleScreen ーーーーーーーーーーーーーーーー*/
.titleScreenWrap{
  background: url(/bg.png) no-repeat center center / cover;
  padding: clamp(1.25rem, 1.077rem + 0.77vw, 2rem);
  padding: 2em;
  height: 100svh;
}

.titleScreenInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titleScreenInner--imgWrap {
    width: min(900px,100%);
}

.titleScreenInner--buttonWrap{
  padding: 2rem 1rem;
  color: #FFF;
  background: #fd9535;
  box-shadow: inset 0 2px 0 rgba(207, 120, 9, 0.5), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #cf7809;
  font-size: 48px;
  width: min(100%, 576px);
  border-radius: 99vw;
}
