body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

.container {
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* AreaScreen ーーーーーーーーーーーーーーーー*/
.area-screen {
  text-align: center;
}

.area-screen h2 {
  margin-bottom: 1em;
}

.area-screen .commands button {
  margin: 0 0.5em;
}

.area-screen .message {
  margin-top: 1em;
}

/* ChoiceScreen ーーーーーーーーーーーーーーーー*/
.choice-screen {
  text-align: center;
}

.choice-screen h2 {
  margin-bottom: 1em;
}

.choice-screen button {
  margin: 0.5em;
}

/* MapScreen ーーーーーーーーーーーーーーーー*/
.map-screen {
  text-align: center;
}

.map-screen h2 {
  margin-bottom: 1em;
}

.map-screen button {
  margin: 0.5em;
}

.map-screen .choice-button {
  margin-top: 2em;
}

/*ResultScreen ーーーーーーーーーーーーーーーー*/
.result-screen {
  text-align: center;
}

.result-screen h2 {
  margin-bottom: 1em;
}

.result-message {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.restart-button {
  margin-top: 2em;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #ff7f7f;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/*TitleScreen ーーーーーーーーーーーーーーーー*/
.titleScreenWrap{
  background-image: url('/bg.png')no-repeat center center / cover; 
  padding: 2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titleScreenInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
